@import '_functions';
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}