//Colors
// Blue
$blue: #6197c6;
$blue-semi-dark: #2870b2;
$blue-dark:#1e5281;
$blue-semi-light:#afcef3;
$blue-light:#e7f0f7;
// Black
$black:#3b495e;
$black-dark:#2c3848;
// 
$gray: #c5d0e1;
$gray-light:#f4f5f8;
//Primary
$primary:#4ab7be;

//Sizes

$label-size:12px;